In [14]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [15]:
movies = pd.read_csv('./input/test.csv')

In [16]:
movies.head(2)

   id              name                                        description
0   1        Adidas NMD  The adidas NMD is a modern lifestyle shoe, bui...
1   2  Adidas Superstar  The Superstar is a style of a low-top athletic...

In [17]:
movies.shape

(15, 3)

In [19]:
movies.head()

   id               name                                        description
0   1         Adidas NMD  The adidas NMD is a modern lifestyle shoe, bui...
1   2   Adidas Superstar  The Superstar is a style of a low-top athletic...
2   3  Adidas Ultra Boot  The adidas Ultraboost was a major moment in th...
3   4  Adidas XPLR White  The Adidas XPLR  is one of the most notable Ad...
4   5   Adidas Yeezy 350  The YEEZY BOOST 350 V2 features an upper compo...

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [22]:
new = movies
vector = cv.fit_transform(new['description']).toarray()

In [23]:
vector.shape

(15, 173)

In [24]:
from sklearn.metrics.pairwise import cosine_similarity

In [25]:
similarity = cosine_similarity(vector)

In [26]:
similarity

array([[1.        , 0.1928473 , 0.10341754, 0.36196138, 0.        ,
        0.0418121 , 0.        , 0.05330018, 0.        , 0.        ,
        0.05170877, 0.        , 0.        , 0.04545455, 0.        ],
       [0.1928473 , 1.        , 0.07312724, 0.29250897, 0.        ,
        0.        , 0.        , 0.07537784, 0.        , 0.        ,
        0.07312724, 0.        , 0.0836242 , 0.06428243, 0.        ],
       [0.10341754, 0.07312724, 1.        , 0.11764706, 0.05882353,
        0.04756515, 0.06063391, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.36196138, 0.29250897, 0.11764706, 1.        , 0.        ,
        0.        , 0.        , 0.12126781, 0.        , 0.        ,
        0.11764706, 0.        , 0.        , 0.10341754, 0.06482037],
       [0.        , 0.        , 0.05882353, 0.        , 1.        ,
        0.57078179, 0.42443734, 0.        , 0.        , 0.        ,
        0.        , 0.13284223, 0.        , 0.15512631, 0.        ],
       [0.0418121 , 0.        , 0.04756515, 0.        , 0.57078179,
        1.        , 0.2941742 , 0.        , 0.        , 0.        ,
        0.        , 0.10741723, 0.        , 0.1254363 , 0.        ],
       [0.        , 0.        , 0.06063391, 0.        , 0.42443734,
        0.2941742 , 1.        , 0.        , 0.10910895, 0.        ,
        0.        , 0.09128709, 0.        , 0.15990054, 0.        ],
       [0.05330018, 0.07537784, 0.        , 0.12126781, 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.06063391, 0.        , 0.        , 0.05330018, 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.10910895, 0.        , 1.        , 0.        ,
        0.37047929, 0.07968191, 0.18156826, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.05170877, 0.07312724, 0.        , 0.11764706, 0.        ,
        0.        , 0.        , 0.06063391, 0.37047929, 0.        ,
        1.        , 0.30996521, 0.20180184, 0.15512631, 0.06482037],
       [0.        , 0.        , 0.        , 0.        , 0.13284223,
        0.10741723, 0.09128709, 0.        , 0.07968191, 0.        ,
        0.30996521, 1.        , 0.30382181, 0.31139958, 0.19518001],
       [0.        , 0.0836242 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.18156826, 0.        ,
        0.20180184, 0.30382181, 1.        , 0.11826248, 0.14824986],
       [0.04545455, 0.06428243, 0.        , 0.10341754, 0.15512631,
        0.1254363 , 0.15990054, 0.05330018, 0.        , 0.        ,
        0.15512631, 0.31139958, 0.11826248, 1.        , 0.22792115],
       [0.        , 0.        , 0.        , 0.06482037, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.06482037, 0.19518001, 0.14824986, 0.22792115, 1.        ]])

In [27]:
new[new['name'] == 'Adidas NMD'].index[0]

0

In [34]:
def recommend(movie):
    index = new[new['name'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].id)

In [37]:
recommend('Nike Jordan 1 High Blue')

11
13
7
12
1